In [2]:
import pandas as pd
df = pd.read_csv("C:\\Users\Joe\Desktop\py\melomane-flo_branch\olist\proCar\cars.csv")
df

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\Joe\\Desktop\\py\\melomane-flo_branch\\olist\\proCar\\cars.csv'

In [14]:
dfnet = df.drop_duplicates(subset=df.columns)
dfnet

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [15]:
dfnet[dfnet["price"]<=0]

Empty DataFrame
Columns: [car_ID, symboling, CarName, fueltype, aspiration, doornumber, carbody, drivewheel, enginelocation, wheelbase, carlength, carwidth, carheight, curbweight, enginetype, cylindernumber, enginesize, fuelsystem, boreratio, stroke, compressionratio, horsepower, peakrpm, citympg, highwaympg, price]
Index: []

[0 rows x 26 columns]

In [9]:
df = pd.read_csv("C:\\Users\Joe\Desktop\py\melomane-flo_branch\olist\proCar\\app\cars.csv")
df.CarName = df.CarName.str.lower()
BrandName = df['CarName'].apply(lambda x : x.split(' ')[0])
ModelType = df['CarName'].apply(lambda x : ' '.join(x.split(' ')[1:]))
df.insert(3,"BrandName",BrandName)
df.insert(4,"ModelType",ModelType)
list_replace = [['alfa-romero', 'alfa romeo'], ['maxda', 'mazda'], ['porcshce', 'porsche'], ['toyouta', 'toyota'], ['vokswagen', 'volkswagen'], ['vw', 'volkswagen']]

for i in list_replace :
    df['BrandName'] = df['BrandName'].replace(i[0], i[1])
    dfBrand = df['BrandName'].unique()
    dfs = pd.DataFrame(dfBrand)
dfs

             0
0   alfa romeo
1         audi
2          bmw
3    chevrolet
4        dodge
5        honda
6        isuzu
7       jaguar
8        mazda
9        buick
10     mercury
11  mitsubishi
12      nissan
13     peugeot
14    plymouth
15     porsche
16     renault
17        saab
18      subaru
19      toyota
20  volkswagen
21       volvo

In [11]:
df_BrandModel = df[['BrandName', 'ModelType']]
df_BrandModel
resultats = df[df_BrandModel['BrandName']== 'volkswagen'] 
rs = resultats['ModelType'].unique()
dfm = pd.DataFrame(rs)
dfm

                   0
0             rabbit
1  1131 deluxe sedan
2          model 111
3             type 3
4           411 (sw)
5       super beetle
6             dasher
7      rabbit custom